html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
img,
video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.client_text{
  font-size: 18px;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


h1, h2, h3, h4, h5, h6, .h1,.h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
	font-family: calluna, serif;
}
body, h1, h2, h3, h4, h5, h6, .button, input[type="button"], input[type="submit"], input[type="text"], input[type="password"], input[type="email"], textarea, select {
   font-family: calluna, serif;
    font-size:13px;
    line-height:20px;
    color:#000;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}



html, body, h1, h2, h3, h4, h5, h6, p, div, hr, a{
	font-family: calluna, serif;
}
.new-logo{
display: inline-block;	
}
.hr-about{
	
	border-top: 3px solid #ccc7c7;
	margin-top: 70px;
    margin-bottom: 0px;
}
.clear-top{
	height: 60px;
	width: 100%;
}
.clear-bottom{
	height: 60px;
	width: 100%;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100% !important;
	display: block;
	height: auto;
}
.section-title{
	text-align: center;
	font-size: 26px;
	background: #fff;
}
.section-price{
	color: #156518;
	font-size: 20px;
    margin-bottom: 0px;
	
}
.section-subtitle{
	text-align: center;
	font-weight: 100;
	padding-bottom: 30px;
	position: relative;
	color: #bdc3c7;
}
#grid .mix{
	display: none;
}
.row{
	padding: 15px 0;
}
/* Header */
.basket {
	position: fixed;
	top: 0px;
	left: auto;
	right: 7em;
	width: 40px;
	margin-top: 12px; 
	z-index: 99999;
}
.badge{
	position: absolute;
	top: 0px;
	left: 25px;
	color:#fff;
	z-index: 99999;
	background-color:#de2d0b;
	
	
}



#header{
    width: auto;
	
}

.index{
   
    background-image: url("../img/slide_bg.jpg");
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	  background-repeat: no-repeat; /* Повторяем фон по горизонтали */
}


#header .topnavbar{
	height: 66px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
background: #fff;
}

#header .navbar-header a{
	background: #fff;
	font-family: calluna, serif;
	font-weight: 400;
	font-size: 2.2em;
	color: #fff;
	line-height: 60px;
}
#header .navbar-toggle, #header .nav {
	background: #fff;
	margin-top: 22px; 
	position: relative;
	
}
.capnew{

}

#header .fixed-top .navbar-header a{
	background: #fff;
	line-height: 30px;
	text-decoration: none;
	
}
#header .navbar-nav a,
#header .navbar-nav .active a{
	font-family: calluna, serif;
	font-weight: 300;
	font-size: 18px;
	color: #565555;
	padding: 0px 12px;
	margin-right: 12px;
	border-radius: 0px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
#header .navbar-nav  li.active a{
	background: #fff;
	box-shadow:
    1px 1px #2980B9,
    2px 2px #2980B9,
    3px 3px #2980B9,
    4px 4px #2980B9,
    5px 5px #2980B9,
    6px 6px #2980B9,
    7px 7px #2980B9;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
#header .navbar-nav a:hover{
	background: #fff;
 box-shadow:
    1px 1px #2980B9,
    2px 2px #2980B9,
    3px 3px #2980B9,
    4px 4px #2980B9,
    5px 5px #2980B9,
    6px 6px #2980B9,
    7px 7px #2980B9;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
    
}
#header .navbar-header i{
	font-weight: bold;
	color: #ffffff;
	font-size: 1.2em;
}
#header .navbar.topnavbar {

}



#container_zayvka {
	background-color: #2e6507;
width:50%;

text-align: center;
height:50px;
left: 30%;
top: 90px;  
float:left; 
position: relative;
}

ul li ul {
    background: #2e650794;
   

  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}



@keyframes movetextdown {
 0% {
    top: -100px;
 }
 100% {
    top: 0px;
 }

}

@-moz-keyframes movetextdown {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@-webkit-keyframes movetextdown {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@-ms-keyframes movetextdown {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@-o-keyframes movetextdown {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@keyframes moveBottom {
 0% {
    top: -100px;
 }
 100% {
    top: 0px;
 }

}

@-moz-keyframes moveBottom {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@-webkit-keyframes moveBottom {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@-ms-keyframes moveBottom {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}

@-o-keyframes moveBottom {
 0% {
   top: -100px;
 }
 100% {
   top: 0px;
 }

}
#header .navbar-header a {
	font-family: "Pacifico", Sans-serif;
	font-size: 2.2em;
	color: white;
	line-height: 60px;
background: #fff;	
}
#header .fixed-top{
	background: #fff;
	width: auto;
	height: 66px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	z-index: 9999;
	position: fixed !important;
}
/* end header */
.clear{
	clear: both;
}
/* slider */
#slider .container-full{
	
	max-height: 600px;
}
#slider .carousel-inner{
	margin: 0px;
	height: auto;
}
#slider .slider{
	
		
	color: #fff;
	font-size: 1.875em;
}
#slider .slide-element{
	height: 500px;
	padding-top: 50px;
}
#slider .slide-element img{
	float: left;
    height: 550px;
    margin: 0px 80px 0 70px;
}
#slider .carousel-control{
	background-image: none;
    border: 1px solid #fff;
    font-size: 1.5em;
    height: 64px;
    line-height: 0;
    margin: 230px 20px 0px 20px;
    padding: 12px 22px;
    width: 108px;

    
}

#slider .carousel-indicators li{
	width: 16px;
	height: 16px;
	margin: 5px;
	background-color: #23282f;
	border: none;
}
#slider .carousel-indicators .active{
	background: #6d7d92;
}
#slider .content_slide{
	margin-top: 7%;
	margin-right: 12px;
	font-size: 11px;
}
#slider .content_slide a{
  display:contents;  
}
#slider .content_slide a:hover, a:focus{
    color: #ffffff00;
}

#slider .content_slide h2{
	color: #ffffff;
	font-size: 45px;
	font-family: Arial, sans-serif;
	vertical-align: middle;
}
#slider .content_slide p{
	width: 45%;
	text-align: center;
	background-color: #e4edea47;
	color: #fff;
	font-size: 2.7vw;
	font-family: Arial, sans-serif;
	line-height: 1.4em;
	vertical-align: middle;
	margin-left: 50%;
    padding-bottom: 20px;
	padding-top: 90px;
	margin-top: 60px;
	padding-bottom: 50px;	
	padding-top: 40px; 
	border-radius: 28px;
	display: inline-block;

}
#slider .content_slide b{	
	font-size: 1.5vw;
}
.img-sos {
    max-width: 100% !important;
    display: inline; 
    height: auto;
}
#slider h1{
	line-height: 50px;
	color: #ffffff;
	font-size: 36px;
}
#slider h1 span{
	color: #2e8957;
}



#uslugi .container-full{
	 

	margin: 0;
	padding: 0;
}
#uslugi .about_content{
	
	margin-top: 40px;
	min-height: 350px;
}
#uslugi .web_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#uslugi .web_content h4{
	color: #ff4b5a;
	font-size: 22px;
	font-family: calluna, serif;
}

#uslugi h3 {
  display: flex;
  width: 65%;
  color: #000;
	font-size: 25px;
	margin: auto;
}

#uslugi h3:before {
  content: url("../img/preim.gif");
  padding-right: 4px;
}
#uslugi  h2{
	 
	
  	color: #00acea;
	font-size: 22px;
	font-family: calluna, serif;
}
#uslugi .web_content p{
    
	color: #2980b9;
	font-size: 17px;
	line-height: 22px;
}
#uslugi .web_content a{
	     background: #fff; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    opacity: 0.4; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
} 


#about .container-full{
	background: #fff;
	margin: 0;
	padding: 0;
}
#about .about_content{
	margin-top: 40px;
	min-height: 350px;
}
#about .web_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#about .web_content h4{
	color: #ff4b5a;
	font-size: 22px;
	font-family: calluna, serif;
}

#about p {
  display: flex;
  width: 65%;
  color: #000;
	font-size: 27px;
	margin: auto;
}

#about p:before {
  content: url("../img/preim.gif");
  padding-right: 4px;
}
#about  h2{
	 
	
  	color: #000;
	font-size: 22px;
	font-family: calluna, serif;
}
#about .web_content p{
	color: #2980b9;
	font-size: 17px;
	line-height: 22px;
}
#about .web_content a{
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
} 
.btn.btn-red{
	background-color: #9a0a0a;
	border:none;
	color: #ffffff;
	border-bottom: 2px solid #4e1b18;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-red:hover{
	background-color: #9a0a0a;
	color: #ffffff;
}


.btn.btn-red-bl2{
	background-color: #00acea;
	border:none;
	color: #ffffff;
	border-bottom: 2px solid #fff;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-red-bl2:hover{
	background-color: #0492c5;
	color: #ffffff;
}
.forma-za{
	width: 100%;
	max-width: 320px;

text-align: center;
	margin-top: 20px;
	position: relative;
left: 55%;
transform: translate(-50%, 0);


}
.btn.btn-red-za{
	width: 100%;
	max-width: 280px;
text-align: center;
	margin-top: 20px;
	position: relative;
left: 49%;
transform: translate(-50%, 0);

	background-color: #ff4b5a;
	border:none;
	color: #ffffff;
	border-bottom: 2px solid #e23d4b;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-red-za:hover{
			width: 100%;
	max-width: 280px;
text-align: center;
	background-color: #f82a3b;
}


.btn.btn-red-open{
	   background-image: url("../img/open1.png");

}
.btn.btn-red-open:hover{
	-webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



.form-cart-one{
	text-align: right;
}
.btn.btn-cart-za{
	width: 100%;
	max-width: 210px;
	text-align: center;
	margin-top: 10px;
	position: relative;

	float:right;
	background-color: #1c7dbd;
	border:none;
	color: #ffffff;
	border-bottom: 2px solid #0076c3;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-cart-za:hover{
			width: 100%;
	max-width: 210px;
text-align: center;
	background-color: #064067;
	color:#fff;
	border: 2px solid #064067;
}



.btn.btn-order{
	
	background-color: #1c7dbd;
	border:none;
	color: #ffffff;
	border-bottom: 2px solid #0076c3;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-order:hover{
		
	background-color: #064067;
	color:#fff;
	border: 2px solid #064067;
}


input[type=checkbox] { display: none; }

.pseudocheckbox::before {  
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px solid  #44ab01;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;
   
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 23px;
    font-weight: bold;
    color:  #44ab01;
}

input[type=checkbox]:checked + .pseudocheckbox::before { content: "\2713"; }



#halatnost .container-full{
	background: #fff;
	margin: 0;
	padding: 0;
}
#halatnost .about_content{
	margin-top: 40px;
	min-height: 350px;
}
#halatnost .web_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#halatnost h2{

  	color: #00acea;
	font-size: 22px;
	font-family: calluna, serif;
}
#halatnost h3 {
  display: flex;
  width: 65%;
  color: #000;
	font-size: 25px;
	margin: auto;
}

#halatnost h3:before {
  content: url("../img/preim.gif");
  padding-right: 4px;
}
#halatnost .web_content h4{
	color: #ff4b5a;
	font-size: 22px;
	font-family: calluna, serif;
}
#halatnost .web_content p{
	color: #2980b9;
	font-size: 17px;
	line-height: 22px;
}
#halatnost .web_content a{
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
} 
#halatnost .web_content hr{
	color: #000;
    
} 

	
.politika-one-v{
	 margin-left:190px; 
}



#about_two .container-full{
	background: #fff;
	margin: 0;
	padding: 0;
}
#about_two .about_content{
	margin-top: 40px;
	min-height: 350px;
}
#about_two .web_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#about_two h2{

  	color: #00acea;
	font-size: 22px;
	font-family: calluna, serif;
}
#about_two h3 {
  display: flex;
  width: 65%;
  color: #000;
	font-size: 25px;
	margin: auto;
}

#about_two h3:before {
  content: url("../img/preim.gif");
  padding-right: 4px;
}
#about_two .web_content h4{
	color: #ff4b5a;
	font-size: 22px;
	font-family: calluna, serif;
}
#about_two .web_content p{
	color: #2980b9;
	font-size: 17px;
	line-height: 22px;
}
#about_two .web_content a{
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
} 
#about_two .web_content hr{
	color: #000;
    
} 


#promotion .container-full{
	background: #fff;
	margin: 0;
	padding: 0;
	
}

#promotion .promotion_content{
	margin-top: 40px;
	min-height: 350px;
	}
#promotion .promotion_content,
.ifarem{
	margin-top: 40px;
	min-height: 350px;
}
#promotion .promotion_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#promotion .promotion_content h4{
	color: #ff4b5a;
	font-size: 22px;
	font-family: calluna, serif;
}
#promotion .promotion_content p{
	color: #2980b9;
	font-size: 16px;
	line-height: 22px;
	font-weight: 100;
	font-stretch: inherit
}
#promotion .promotion_content a{
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
}
.btn.btn-green{
	background-color: #1fab5a;
	border:none;
	border-bottom: 2px solid #188947;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-green:hover{
	background-color: #187e43;
}


.container-contakt-one
{
	padding-bottom: 80px;
}	


section#reviews {
  background: url("../img/orig.jpg");
}
section#reviews header {
  color: #ffffff;
}
section#reviews header h1:after {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-person img {
  border: 3px solid #ffffff;
}
section#reviews .review-filtering .review .review-comment {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-comment h3 {
  color: #3c79b4;
}
section#reviews .review-filtering .review .review-comment p span i {
  color: #3c79b4;
}
section#reviews .review-filtering .review .review-comment:after {
  border-right-color: #ffffff;
}
section#reviews .review-filtering .slick-dots li button {
  background: #ffffff;
  border: 2px solid #ffffff;
}
section#reviews .review-filtering .slick-dots li.slick-active button {
  background: #3c79b4;
}



section#reviews {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#reviews h2 {
  display: flex;
  width: 65%;
  color: #fff;
	font-size: 25px;
	margin: auto;
}

section#reviews h2:before {
  
  padding-right: 4px;
}
section#reviews .review-filtering {
  margin: 5px 0 100px 0;
}
section#reviews .review-filtering .review .review-person {
  width: 100%;
}
section#reviews .review-filtering .review .review-person img {
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 5px auto;
}
section#reviews .review-filtering .review .review-comment {
  width: 100%;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 40px 5px;
  position: relative;
}
section#reviews .review-filtering .review .review-comment h3 {
  margin-bottom: 1px;
}
section#reviews .review-filtering .review .review-comment p {
  font-size: 16px;
  color: #505050;
}
section#reviews .review-filtering .review .review-comment p span {
  margin-left: 5px;
}
section#reviews .review-filtering .review .review-comment:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 5px;
  margin-top: -10px;
}
section#reviews .review-filtering .review .review-person,
section#reviews .review-filtering .review .review-comment {
  float: left;
}
section#reviews .review-filtering .slick-dots {
  bottom: -80px;
}
section#reviews .review-filtering .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
section#reviews .review-filtering .slick-dots li button:before {
  display: none;
}



a#scrollUp {
  bottom: 0px;
  right: 15px;
  padding: 8px 15px;
  background: #08c9ff;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 3s ease infinite;
   border-radius: 18px;
   
}

a#scrollUp i{
  font-size: 45px;
  
}


#promotion-pred .container-full{
	background: #fff;
	margin: 0;
	padding: 0;
	 margin-bottom: 0px;
	 height:303px;
	
	 
}
#promotion-pred .promotion_content,
.ifarem{
	margin-bottom: 0px;
	min-height: 230px;
	margin:0;
}
#promotion-pred .promotion_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#promotion-pred .promotion_content h4{
	color: #ff4b5a;
	font-size: 20px;
	font-family: calluna, serif;
}
#promotion-pred .promotion_content p{
	color: #0f517b;
	font-size: 22px;
	line-height: 26px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
#promotion-pred .promotion_content a{
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
}
.btn.btn-green{
	background-color: #1fab5a;
	border:none;
	border-bottom: 2px solid #188947;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
.btn.btn-green:hover{
	background-color: #187e43;
}



.benefits {
    width: 100%;
    background: #dcdcdc;
	height: 150px;
}

.benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
}

.benefits__header {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    padding: 0 15px 60px;
    color: #00acea;
    font-size: 4rem;
    text-transform: uppercase;
}

.benefits__element {
    width: 30%;
}

.benefits__icon {
    display: block;
    width: 60px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.benefits__element p {
    color: #1b1919;
    text-align: center;
  
}

.benefits__number {
	    color: #00acea;
    font-size: 2.3rem;
    
    margin-bottom: 0px;
    opacity: 0;
}

.benefits__title {
    font-size: 1.1rem;
}


   .img-prem-logo {
	 margin: 4px 10px 2px 0px;
	margin: auto;
   }
  .example {
    position:relative;


    overflow:hidden;
   
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
 .example-two {
    position:relative;
	background-color: #e2e2e2;

    overflow:hidden;
   
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
 .example-fo {
    position:relative;
	background-color: fff;

    overflow:hidden;
   
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


.container-aim
{
	 width: 50%;
	 max-width:740px;
	 margin-left:25%;
}
.container-aim .col-md-6 {
    width: 50%;
}

.container-aim .col-md-7 {
    width: 50%;
}
.container-aim .col-md-8 {
   width: 50%;
}

.container-aim .col-md-9 {
    width: 50%;
}


.container-getApp
{
	 width: 100%;
	
	 margin-left:0%;
}
section#getApp {
 
  padding-bottom: 0px;
  padding-top: 50px;
}
section#getApp .platforms {
  margin: 60px auto 70px auto;
  text-align: center;
}
section#getApp .platforms .btn {
  margin-right: 10px;
  margin-bottom: 0px;
}
/* Get app Section */
section#getApp {
  background: url("../img/bk-eco.jpg");
}
section#getApp header {
  color: #ffffff;
}
section#getApp header h1:after {
  background: #ffffff;
}
section#getApp .platforms .media {
  border: 2px solid #ffffff;
  color: #ffffff;
}
section#getApp .platforms .media a i {
  color: #ffffff;
}
section#getApp .platforms .media a div.media-body {
  color: #ffffff;
}
section#getApp .platforms .media:hover {
  background: #ffffff;
}
section#getApp .platforms .media:hover a i,
section#getApp .platforms .media:hover a div.media-body {
  color: #3c79b4;
}
.hanging-phone {
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: -15px;
   width:415px;
}
.section-heading {
  margin: 60px 0 80px;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 25px;
  color: #505050;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  color: #ffffff;
}
.section-heading.inverse .divider:after {
  background: #ffffff;
}
.btn-getApp {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 18px;
   
}
.btn-getApp:hover, .btn-getApp:focus {
    color: #0b96f1;
    text-decoration: none;
	background-color: #000000;
    
}
.btn-primary-getApp {
    color: #fff;
    background-color: #12171bed;
    border-color: #ffffff;
}


#testimonial .container-full{
	 background: url("../img/bk-freeze-ga.jpg");
}
#testimonial h1{
	font-weight: bold;
	font-size: 145px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	margin-bottom: -45px;
}
#testimonial h2{
	color: #fff;
    font-size: 36px;
    text-align: center;
}
#testimonial .designer{
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    width: 250px;
}
#testimonial .clint{
	float: left;
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;	
}
#testimonial .clint img{
	margin-left: 0px;
	margin-top: -5px;
}
#testimonial .info{
	width: 320px;
	padding-top: 2px;
}
#testimonial .info h3{
	color: #fff;
	font-size: 24px;
	line-height: 26px;
}
#testimonial .info p{
	color: #fff;
	font-size: 22px;
	font-style: normal;
	font-family: "Roboto", sans-serif;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 5px;
    transition: 0.2s;
    font-size: 24px;
}


.tab button:hover {
    background-color: #1a66984d;
}


.tab button.active {
    background-color:#1a6698;
	color: #fff;
	border-width: 10px;
    bottom: -10px;
    border-top-color: #082538;
	

   
}


.tab-index {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab-index button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 17px;
    transition: 0.2s;
    font-size: 24px;
}


.tab-index button:hover {
    background-color: #1a66984d;
}


.tab-index button.active {
    background-color:#1a6698;
	color: #fff;
	border-width: 10px;
    bottom: -10px;
    border-top-color: #082538;
	

   
}
 
   
}


.tabcontent {
    display: none;
    padding: 26px 12px;
    border: 0px solid #ccc;
    border-top: none;
}



section#features {
  background: #fff;
}
section#features header h1:after {
  background: #3c79b4;
}
section#features .media i.fa {
  border: 2px solid #3c79b4;
  color: #3c79b4;
}
section#features .media:hover i.fa {
  color: #ffffff;
  background: #3c79b4;
}
section#features .media:hover h3 {
  color: #3c79b4;
}
section#features .media.active i.fa {
  color: #ffffff;
  background: #3c79b4;
}
section#features .media.active .media-heading {
  color: #3c79b4;
}
section#features .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 2.6em;
  text-align: center;
}
section#features .media .media-heading {
  padding-top: 10px;
  font-weight: 300;
}
section#features .media .media-body {
  color: #505050;
}
section#features .media.feature {
  margin-top: 25px;
}
section#features .media.feature:first-child {
  margin-top: 0;
}
section#features img {
  margin: 0 auto 20px;
}



.main_contact{
    overflow: hidden;

}
.main_contact a.btn{
    width:100%;
}

.widget_socail{}
.widget_socail ul li a i{
    background-color: #434343;
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.widget_socail ul li a:hover i{
    background-color: #ff6863;
}


.box-old {
    max-width: 330px;
	width: 100%;
	min-width: 240px;
	position:relative;
	color: #fff0;
    background: #fff;
	border-radius: 18px;
    margin: 25px 45px 35px 15px;
    float:center !important;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-box-shadow: 0px 5px 20px 8px #9e9c9c;
-moz-box-shadow: 0px 5px 20px 8px #9e9c9c;
box-shadow: 0px 5px 20px 8px #9e9c9c;	
}


.box {
    max-width: 360px;
	width: 100%;
	min-width: 240px;
	position:relative;
	color: #fff0;
    background: #fff;
	border-radius: 18px;
    margin: 25px 45px 35px 15px;
    float:left;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-box-shadow: 0px 5px 20px 8px #9e9c9c;
-moz-box-shadow: 0px 5px 20px 8px #9e9c9c;
box-shadow: 0px 5px 20px 8px #9e9c9c;
	
}
.lastbox{
	float:right;
	margin-right:20px;
}



.foto-kart{
	max-width: 200px!important;
	width: 200px;
	position: relative;
	display:table-column-group;
	margin:10px 10px 10px 10px;
	margin-left: auto;
    margin-right: auto;
}
.text-kart{
	text-align:center;
	font-size: 20px;
	color: #504d4d;
}
.text-itogo-kart{
	text-align:right;
	font-size: 20px;
	margin-top: 10px;
	
}



.productshot{
	
	position: relative;
	top:10px;
	margin:10px 10px 10px 10px;
}

.productshot-old{
	position: relative;
	width: 80%;
	top: 10px;
	margin:20px 20px 20px 20px;
}

.boxtitle {
	
}

.boxtitle h2 {
	color: #7f42c5;
    font-size: 20px;
    margin: 0px 10px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
	border-bottom:0px solid #eee;
	margin-top: 15px;
	height: 35px;
}
.boxtitle h3 {
	color: #7f42c5;
	font-size: 17px;
       margin: 0px 10px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
	border-bottom:0px solid #eee;
	margin-top: 15px;
	height: 40px;
}

i.check {
  display: inline-block;
  width: 15px;
  height: 25px;
  margin: -3px 10px 3px;
  border: solid #71ca44;
  border-width: 0 6px 6px 0;
  transform: rotate( 36deg);
}

.boxtitle-old {
	max-width: 310px;
}
.boxtitle-old h1 {
	color: #2f2d2d;
    margin: 0px 10px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
	border-bottom:0px solid #eee;
	padding-top: 25px;
	font-size: 28px;
	height: 60px;
	margin-left: 45px;
}
.boxtitle-old h2 {
	color: #236768;
    font-size: 20px;
    margin: 0px 10px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
    line-height: 100%;
	border-bottom:0px solid #eee;
	margin-top: 15px;
	height: 55px;
}
.boxtitle-old h3 {
	color: #111;
	font-size: 14px;
       margin: 0px 10px;
    padding: 0px 0px 0px 0px;
    text-align: right;
    line-height: 5px;
	border-bottom:0px solid #eee;
	margin-top: 15px;
	height: 120px;
}





.boxtitle h2 a:link,.boxtitle h2 a:visited {
    color: #503d32;
	
}


.info-old {
  margin-top: 12px;
  text-align: center;
   margin-bottom: 35px;

}

.info-old button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #b1b1b1;
  border-radius: 18px;
  font-family: calluna, serif; 
  color: #fff;
  transition: .2s ease-in-out;
  font-size: 20px;
  background: linear-gradient(310deg, rgb(0, 26, 26), rgb(41, 128, 185));
  
}

.info-old button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
 
}
.info-old  button:hover {
	
  background: #2980B9;
  color: #fff;
}
.info-old  button:hover:before {
	
  left: 150px;
  transition: .5s ease-in-out;
}



.info-old a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 18px;
  font-family: calluna, serif; 
  color: #fff;
  transition: .2s ease-in-out;
  font-size: 20px;
  background: linear-gradient(310deg, rgba(252,59,71,.90), rgba(254,8,111,.95));
  
}
.info-old a:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.info-old a:focus {
	
  background: #fe076f;
  color: #fff;
}
.info-old a:focus:before {
	
  left: 150px;
  transition: .5s ease-in-out;
}




.info {
  margin-top: 12px;
  text-align: center;
   margin-bottom: 35px;

}

.info button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 18px;
  font-family: calluna, serif; 
  color: #fff;
  transition: .2s ease-in-out;
  font-size: 20px;
  background: linear-gradient(310deg, rgba(252,59,71,.90), rgba(254,8,111,.95));
  
}

.info button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
 
}
.info  button:focus {
	
  background: #fe076f;
  color: #fff;
}
.info  button:focus:before {
	
  left: 150px;
  transition: .5s ease-in-out;
}

.info a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 18px;
  font-family: calluna, serif; 
  color: #fff;
  transition: .2s ease-in-out;
  font-size: 20px;
  background: linear-gradient(310deg, rgba(252,59,71,.90), rgba(254,8,111,.95));
  
}
.info a:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.info a:focus {
	
  background: #fe076f;
  color: #fff;
}
.info a:focus:before {
	
  left: 150px;
  transition: .5s ease-in-out;
}



.pricetab{
	top:10px;
	position: relative;
	background:url(../img/cart-th.png);
	border: 0px solid #b7b7b7;
	height: 30px;
	width: 300px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	padding:0px 0px;
	-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px; 

}

.prodetail{
	float:center;
	
}

.prodetail a,.prodetail a:visited {
	color:#fff;
}

.pricetab .price{

	}
.pricetab .oldprice{
	color:#fff;
	margin-right:0px;
}



.homepage_service_features{
  padding: 40px 0 50px;
}
.homepage_service_item_img-two{
  width: 100px !important;
  z-index:10;
  
}
@media(min-width: 768px){
  .homepage_service_features{
    padding: 40px 0 50px;
  }
}

@media(min-width: 768px){
  .homepage_service_features-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
  }
}

.homepage_service_features-item{
  text-align: center;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}
.homepage_service_features-item + .homepage_service_features-item{
  margin-top: 26px;
}
@media(min-width: 768px){
  .homepage_service_features-item{
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 16px 11px;
  }
  .homepage_service_features-item:nth-child(odd){
    text-align: right;
  }
  .homepage_service_features-item:nth-child(even){
    text-align: left;
  }
  .homepage_service_features-item + .homepage_service_features-item{
    margin-top: 0;
  }
}
@media(min-width: 1200px){
  .homepage_service_features-item{
    padding: 0 39px 16px;
    height: 132px;
  }
}
.homepage_service_features-item_text{
  display: block;
}
@media(min-width: 768px){
  .homepage_service_features-item_text{
    display: block;
    order: 1;
    flex: 1 1 auto;
    min-width: 0;
  }
}
.homepage_service_features-item_text_title{
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
  color:#19689c
}
.home_service_text{
  display: block;
  font-size: 20px;
}


@media(min-width: 768px){
  .home_service_item_one{
	   width: 63px;
    min-width: 63px;
    flex: 0 1 auto;
  }
  .homepage_service_features-item:nth-child(odd) .home_service_item_one{
    order: 2;
    padding: 0 0 0 13px;
  }
  .homepage_service_features-item:nth-child(even) .home_service_item_one{
    order: 1;
    padding: 0 13px 0 0;
  }
}
@media(min-width: 1200px){
  .home_service_item_one{
    flex: 0 1 173px;
    width: 173px;
    min-width: 173px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .homepage_service_features-item:nth-child(odd) .home_service_item_one{
    padding: 0 0 0 20px;
    justify-content: flex-start;
  }
  .homepage_service_features-item:nth-child(even) .home_service_item_one{
    padding: 0 20px 0 0;
    justify-content: flex-end;
  }
  .home_service_item_one-1,
  .home_service_item_one-2{
    position: relative;
    top: 10px;
  }
  .home_service_item_one-3,
  .home_service_item_one-4{
    position: relative;
    top: -22px;
  }
  .home_service_item_one-5,
  .home_service_item_one-6{
    position: relative;
    top: -63px;
  }
}
.homepage_service_item_img{
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
@media(min-width: 768px){
  .homepage_service_item_img{
    margin: 0;
  }
}
.homepage_service_item_img-one{
  display: block;
}
.homepage_service_item_img-two,
.homepage_service_item_img-three{
  display: none;
}
@media(min-width: 768px){
  .homepage_service_item_img-one{
    display: none;
  }
  .homepage_service_item_img-two{
    display: block;
  }
}
@media(min-width: 1200px){
  .homepage_service_item_img-three{
    display: block;
  }
  .homepage_service_item_img-two{
    display: none;
  }
}
.home_service_logo{
  display: none;
}
@media(min-width: 1200px){
  .home_service_logo{
    display: block;
    position: absolute;
    width: 75px;
    height: 101px;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
  }
}


.home_center_two{
  padding: 40px 0 50px;
  background-color: #2980b9;
}
@media(min-width: 768px){
  .home_center_two{
    padding: 40px 0 50px;
  }
}
@media(min-width: 1200px){
  .home_center_two{
    display: none;
  }
}
.home_center_two-sos_img{
  display: block;
  margin: 35px auto 20px;
}

.home_center_two_text{
  text-align: center;
}



.home_center_two-main_item{
  text-align: center;
  font-family: calluna, serif;
  margin-bottom: 16px;
}
.home_center_two-main_item_img{
  margin-bottom: 10px
}
.home_center_two-main_item_img img{
  display: block;
  margin: 0 auto;
}


.home_center_two-arrow-sm{
  margin-top: 18px;
  margin-bottom: 22px;
}
@media(min-width: 768px){
  .home_center_two-arrow-sm{
    display: none;
  }
}
.home_center_two-arrow-tb img{
  display: block;
  margin: 0 auto;
}

.home_center_two-list{
  background: rgb(5, 77, 132);;
  border-radius: 8px;
  padding: 22px 22px 24px 22px;
  max-width: 375px;
  margin: 0 auto;
}

@media(min-width: 768px){
  .home_center_two-list{
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: none;
    padding: 0;
  }
}

.home_center_two-item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: calluna, serif;
}
.home_center_two-item + .home_center_two-item{
  margin-top: 16px;
}
@media(min-width: 768px){
  .home_center_two-item{
    display: block;
    text-align: center;
    width: 33%;
    min-width: 33%;
  }
  .home_center_two-item + .home_center_two-item{
    margin-top: 0;
  }
}

.home_center_two-item_ic{
  display: block;
  width: 80px;
  height: 80px;
  flex: 0 1 80px;
  min-width: 80px;
  margin-right: 14px;
}
@media(min-width: 768px){
  .home_center_two-item_ic{
    width: auto;
    height: auto;
    margin-right: 0;
  }
}
.home_center_two-item_ic img{
  display: block;
  max-width: 100%;
  min-height: 100%;
}
@media(min-width: 768px){
  .home_center_two-item_ic img{
    margin: 0 auto 10px;
    width: auto;
    height: auto;
  }
}

@media(min-width: 768px){
  .home_center_two-item_text{
    text-align: center;
  }
}

.home_center_two-it_row{
  display: none;
}
@media(min-width: 768px){
  .home_center_two-it_row{
    display: block;
    margin-top: 30px;
    margin-bottom: 16px;
  }
}
@media(min-width: 768px){
  .home_center_two-it_row img{
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .home_center_two-it_row-l img{
    left: 28px;
  }
  .home_center_two-i-r img{
    right: 28px;
  }
}



.wrap{
width:100%;
}
.clear{
	clear:both;
}
.inner, .innerW{
	width: 1200px;
	margin:0 auto;
}
.inner>h2 {
    line-height: 1.1;
    padding: 30px 0 40px;
    font-size: 45px;
	text-align: center;
}
.green-bg .inner>h2 {
    font-size: 36px;
    color: #fff;
    padding: 25px 0 30px 5px;
    font-weight: 300;
}
.bold{
	font-family: calluna, serif;
	/*font-weight: 900;*/
}
.green-bg{
background-color: #2a99e2;
color: #fff;
}
.blue-bg{
background-color: #45bcee;
color: #fff;
}
.bl-light-bl-bg .inner h2{
color:#fff;
}
.bl-light-bl-bg {
/*background: url('/img/ikon-three/green-bg.png') no-repeat center;*/
background-image: -moz-linear-gradient( 120deg, #044c7b 0%, #6ab0e4 100%);
background-image: -webkit-linear-gradient( 120deg, #044c7b 0%, #6ab0e4 100%);
background-image: -ms-linear-gradient( 120deg, #044c7b 0%, #6ab0e4 100%);
background-image: linear-gradient( 120deg, #044c7b 0%, #6ab0e4 100%);
}
.green-dark-gradient-bg {
	background-image: -moz-linear-gradient( 75deg, #6A8F40 0%, #6ab0e4 100%);
	background-image: -webkit-linear-gradient( 75deg, #6A8F40 0%, #6ab0e4 100%);
	background-image: -ms-linear-gradient( 75deg, #6A8F40 0%, #6ab0e4 100%);
	background-image: linear-gradient( 55deg, #6A8F40 0%, #6ab0e4 100%);
}
.gray-bg {
    background-color: #f4f4f4;
}
.red-bg {
    background-color: #1a6698;
	color: #fff;
}
.green{
color: #2a99e2;
}
.red{
color: #1a6698;
}
.inner:after{
content:'';
display:block;
clear:both;
}
.absolute {
  position: absolute;
}
p{
font-size: 22px;
line-height:1.2;
margin:0;
}
p.sm-text, .sm-text, .red-sale.sm-text {
font-size: 22px;
}
p.lg-text, .lg-text, .red-sale.lg-text {
font-size: 36px;
}
h2{
font-size: 36px;
font-weight:300;
}
.text-right{
text-align: right;
}
.text-left{
text-align: left;
}
.text-center{
text-align: center;
}
.green-btn {
    background: #2a99e2;
    color: #fff;
    padding: 10px 25px 12px 25px;
    display: block;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.65);
	transition: all ease .3s;
}
.green-btn:hover {
    background: #8EB85C;
    transition: all ease .3s;
}
.green-btn:focus{
    outline: 0 none;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.65), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.green-btn:active {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);
    transition: all ease .1s;
}
.heit-650-px{
height: 650px;
overflow: hidden;
}


.slide-7 img {
    margin: 0 0 20px 10px;
}
.slide-7 .static-signal, .slide-7 .anim-signal {
    position: absolute;
    margin: 120px 0 0px 350px;
}
.static-signal, .static-signal-red {
    display: none;
}
.slide-7 .absolute.item-1 {
    margin: -390px 0 0 933px;
}
.slide-7 .absolute.item-2 {
    margin: -245px 0 0 1060px;
}
.slide-7 .absolute.item-3 {
    margin: -60px 0 0 933px;
}
.slide-7 .absolute.item-4 {
    margin: -85px 0 0 460px;
}
.slide-7 .bottom-text {
    /*margin: 0px 0 0 100px;*/
	padding-bottom: 20px;
}
.slide-7{
  display: none;
}
@media (min-width: 1200px) {
  .slide-7{
    display: block;
  }
}
.one-third {
    width: 33.33333%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
}
.piece-24 {
  width: 24%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float:left;
}
.piece-30 {
  width: 30%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float:left;
}
.piece-40 {
  width: 40%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float:left;
}
.piece-50 {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
}
.piece-60 {
  width: 60%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float:left;
}



.zag-text-big{
text-align: center;
 font-size: 3.9rem;
 color:#2980B9; 
}
.zag-text-big-white{
text-align: center;
 font-size: 3.9rem;
 color:#fff; 
}
.zag-text-smal{
 text-align: center;
 font-size: 2.9rem;
 color:#2980B9; 
}
.zag-text-smal-white{
 text-align: center;
 font-size: 2.9rem;
 color:#fff; 
}


.homepage_service_features{
  padding: 40px 0 50px;
}
@media(min-width: 768px){
  .homepage_service_features{
    padding: 40px 0 50px;
  }
}

@media(min-width: 768px){
  .homepage_service_features-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
  }
}

.homepage_service_features-item{
  text-align: center;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}
.homepage_service_features-item + .homepage_service_features-item{
  margin-top: 26px;
}
@media(min-width: 768px){
  .homepage_service_features-item{
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 16px 11px;
  }
  .homepage_service_features-item:nth-child(odd){
    text-align: right;
  }
  .homepage_service_features-item:nth-child(even){
    text-align: left;
  }
  .homepage_service_features-item + .homepage_service_features-item{
    margin-top: 0;
  }
}
@media(min-width: 1200px){
  .homepage_service_features-item{
    padding: 0 39px 16px;
    height: 132px;
  }
}
.homepage_service_features-item_text{
  display: block;
}
@media(min-width: 768px){
  .homepage_service_features-item_text{
    display: block;
    order: 1;
    flex: 1 1 auto;
    min-width: 0;
  }
}
.homepage_service_features-item_text_title{
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
}
.home_service_text{
  display: block;
  font-size: 20px;
}


@media(min-width: 768px){
  .home_service_item_one{
    flex: 0 1 auto;
  }
  .homepage_service_features-item:nth-child(odd) .home_service_item_one{
    order: 2;
    padding: 0 0 0 13px;
  }
  .homepage_service_features-item:nth-child(even) .home_service_item_one{
    order: 1;
    padding: 0 13px 0 0;
  }
}
@media(min-width: 1200px){
  .home_service_item_one{
    flex: 0 1 173px;
    width: 173px;
    min-width: 173px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .homepage_service_features-item:nth-child(odd) .home_service_item_one{
    padding: 0 0 0 20px;
    justify-content: flex-start;
  }
  .homepage_service_features-item:nth-child(even) .home_service_item_one{
    padding: 0 20px 0 0;
    justify-content: flex-end;
  }
  .home_service_item_one-1,
  .home_service_item_one-2{
    position: relative;
    top: 10px;
  }
  .home_service_item_one-3,
  .home_service_item_one-4{
    position: relative;
    top: -22px;
  }
  .home_service_item_one-5,
  .home_service_item_one-6{
    position: relative;
    top: -63px;
  }
}
.homepage_service_item_img{
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
@media(min-width: 768px){
  .homepage_service_item_img{
    margin: 0;
  }
}
.homepage_service_item_img-one{
  display: block;
}
.homepage_service_item_img-two,
.homepage_service_item_img-three{
  display: none;
}
@media(min-width: 768px){
  .homepage_service_item_img-one{
    display: none;
  }
  .homepage_service_item_img-two{
    display: block;
  }
}
@media(min-width: 1200px){
  .homepage_service_item_img-three{
    display: block;
  }
  .homepage_service_item_img-two{
    display: none;
  }
}
.home_service_logo{
  display: none;
}
@media(min-width: 1200px){
  .home_service_logo{
    display: block;
    position: absolute;
    width: 75px;
    height: 101px;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
  }
}


.homepage_service{
  padding: 40px 0 50px;
  background: url('../img/ikon-foor/karta2.jpg') no-repeat center 100px;
}
.container.max-service{
 width: 1300px;	
}
@media(min-width: 640px){
  .homepage_service{
    background: url('../img/ikon-foor/karta.jpg') no-repeat center center;
  }
}
@media(min-width: 768px){
  .homepage_service{
    padding: 40px 0 50px;
  }
}
.homepage_service-body{
}
@media(min-width: 640px){
  .homepage_service-body{

  }
}
.homepage_service-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 90px;
}
.homepage_service-item{
  width: 224px;
  height: 285px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: calluna, serif;
  text-align: center;
  margin: 0 auto;
  background: url('../img/ikon-foor/reg-item-three.png') no-repeat center center;
}
.homepage_service-item + .homepage_service-item{
  margin-top: 12px;
}
@media(min-width: 768px){
  .homepage_service-item{
    width: 192px;
    height: 161px;
    background: url('../img/ikon-foor/reg-item-three.png') no-repeat center center;
  }
}
@media(min-width: 1200px){
  .homepage_service-item{
    width: 222px;
    height: 186px;
    background: url('../img/ikon-foor/reg-item-three.png') no-repeat center center;
  }
}
.homepage_service-item_text{
  display: block;
  width: 140px;
  font-size: 24px;
  
}

.homepage_service-text{
  font-size: 22px;
  text-align: center;
  background: rgba(255,255,255,.83);
  padding: 11px 15px 15px;
  margin-top: 40px;
}
.homepage_service-text br{
  display: none;
}
@media(min-width: 768px){
  .homepage_service-text br{
    display: block;
  }
}
.homepage_service-arm{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
@media(min-width: 1024px){
  .homepage_service-arm{
    justify-content: space-around;
    margin: 35px auto 0;
    max-width: 830px;
  }
}
.homepage_service-arm_item{
  width: 100px;
  margin-top: 20px;
}
.homepage_service-arm_item img{
  display: block;
  margin: 0 auto;
}

 .new_blok_tarif{
 background: url("../img/bk-tarif-one.jpg");
  }

.homepage_sections{
  padding: 40px 0 80px;
  background-color: #fff;
}
@media(min-width: 768px){
  .homepage_sections{
    padding: 40px 0 100px;
  }
}
.homepage_sections-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.homepage_sections-item{
  max-width: 470px;
  padding: 0 15px;
}
.homepage_sections-item + .homepage_sections-item{
  margin-top: 80px;
}
@media(min-width: 992px){
  .homepage_sections-item + .homepage_sections-item{
    margin-top: 0;
  }
}
@media(min-width: 1200px){
  .homepage_sections-item{
    max-width: none;
  }
}
.homepage_sections-item a{
  text-decoration: none;
}
.homepage_sections-item_header{
  display: block;
  border-radius: 8px 8px 0 0;
  padding: 18px 15px 22px;
}
.homepage_sections-item_header-green{
  background: #2a99e2;
}
.homepage_sections-item_header-blue{
  background: #45bcee;
}
@media(min-width: 768px){
  .homepage_sections-item_header{
    border-radius: 0;
  }
}
.homepage_sections-item_title{
  margin: 0;
  padding: 0;
  display: block;
  color: #fff;
  font-size: 36px;
  text-align: center;
}
.homepage_sections-item_img{
  display: block;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
@media(min-width: 768px){
  .homepage_sections-item_img{
    border-radius: 0;
  }
}
.homepage_sections-item_img img{
  display: block;
  max-width: 100%;
}

.homepage_sections-item_bottom{
  text-align: center;
  display: block;
  margin-top: 36px;
}

.homepage_sections-item_btn{
  border-radius: 5px;
  font-size: 22px;
  padding: 13px 34px;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  padding: 15px;
  font-weight: 500;
  box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.2);
  background: #1a6698;
  color: #fff;
  text-decoration: none;
  transition: all ease .3s;
}
.homepage_sections-item_btn:hover,
.homepage_sections-item_btn:focus,
.homepage_sections-item_btn:active{
  background: #D73E35;
  color: #fff;
}
.reshinie
{
	width: 90%;
	max-width: 1300px;
}
.tarif
{
	width: 90%;
	max-width: 1500px;
}


.btn-resh {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 18px;
	color: #fff;
    background-color: #14689e;
    border-color: #0c3754;
	margin-left:35%;
	position: relative;
}
.btn-resh:hover, .btn-resh:focus {
    color: #fff;
    text-decoration: none;
	background-color: #0f4465;
    
}



.btn-tarif {
    display: inline-block;
    padding: 6px 8px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 14px;
	color: #fff;
    background-color: #1a6698;
    border-color: #3d8fcc;
	margin-left:0%;
	position: relative;
	width: 30%;
	min-width: 160px;
}
.btn-tarif:hover, .btn-tarif:focus {
    color: #fff;
    text-decoration: none;
	background-color: #062c48;
    
}


.img-resh-one
{
	width: 634px !important;
    height: auto;
	display: inline !important;
}


section#homepage_service_features header h1:after {
  background: #3c79b4;
}
section#homepage_service_features .media i.fa {
  border: 2px solid #3c79b4;
  color: #3c79b4;
}
section#homepage_service_features .media:hover i.fa {
  color: #ffffff;
  background: #000;
}
section#homepage_service_features .media:hover h3 {
  color: #3c79b4;
}
section#homepage_service_features .media.active i.fa {
  color: #ffffff;
  background: #3c79b4;
}
section#homepage_service_features .media.active .media-heading {
  color: #3c79b4;
}

#how_it_work{
  padding: 43px 0 40px;
  margin-top: 40px;
  background: linear-gradient(to top, #2980b9, #010e34);
}
.how_it_work-items{
  margin-top: 30px;
}
.how_it_work-item {
  display: block;
  margin: 0 0 13px;
  height: auto;
}
.how_it_work-item p {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
}
.how_it_work-item_img img{
  display: block;
  margin: 7px 0 0;
}
.how_it_work-item_text-inner{
  display: table;
  width: 100%;
  min-height: 4.8em;
}
.how_it_work-item_text-text{
  display: table-cell;
  vertical-align: middle;
}
.how_it_work-scheme{
  padding-top: 20px;
}
.how_it_work-bottom{
  clear: both;
  margin: 0 0 14px;
  padding: 37px 0 0;
}
.how_it_work-bottom p:before, .how_it_work-bottom p:after{
  content: '';
  display: none;
  display: inline-block;
  width: 27px;
  height: 44px;
  background: url('img/signal_ic.png') no-repeat;
  margin: 0px 10px -14px;
}
.how_it_work-bottom p:before{
  background-position: 0 -44px;
}
.how_it_work-bottom p:after{
  background-position: 0 0;
}



#promotion-old .container-full{
	background: #fff;
	margin: 0;
	padding: 0;
	 margin-bottom: 0px;
	 height:430px;
	
	 
}
#promotion-old .promotion_content,
.ifarem{
	margin-bottom: 0px;
	min-height: 230px;
	margin:0;
}
#promotion-old .promotion_content h1{
	color: #444e5d;
   font-family: calluna, serif;
    font-size: 36px;
}
#promotion-old .promotion_content h4{
	color: #ff4b5a;
	font-size: 20px;
	font-family: calluna, serif;
}
#promotion-old .promotion_content p{
	color: #333;
	font-size: 22px;
	line-height: 24px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
#promotion-old .promotion_content a{
	color: #ffffff;
    font-size: 20px;
    padding: 12px 32px;
    margin-top: 5px;
	margin-bottom: 5px;
}



#how_connected{
  background: #fff;
  padding: 0px;
}
#how_connected .sectiont_title{
  padding-bottom: 59px;
}
.how_connected-item{
  position: relative;
}
.how_connected-item:before{
  content: '';
  display: block;
  width: 120px;
  height: 6px;
  border-radius: 4px;
  background: #1e79b5;
  position: absolute;
  top: 60px;
  left: -40px;
}
.how_connected-item-1:before{
  display: none;
}
.how_connected-item_ic{
  display: block;
  position: relative;
  width: 118px;
  height: 118px;
  margin: 0 auto;
  background: #fff;
  border: 3.6px solid #1e79b5;
  border-radius: 50%;
  
  margin-bottom: 30px;
}
.how_connected-item_ic-inner {
  display: block;
  width: 68px;
  height: 54px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/ikon-five/ikon_uslug.png') no-repeat;
}
.how_connected-item-1 .how_connected-item_ic-inner {
  background-position: 0 0;
}
.how_connected-item-2 .how_connected-item_ic-inner {
  background-position: 0 -54px;
}
.how_connected-item-3 .how_connected-item_ic-inner {
  background-position: 0 -108px;
}
.how_connected-item_text{
  font-size: 19px;
}
.how_connected-item_text strong{
  display: block;
}


.container-old-one {
    width: 80%;
    max-width: 1600px;
    margin-left: 10%;
}
.container-old-one .col-md-8 {
   width: 40%;
}
.container-old-one .col-md-9 {
   width: 50%;
}
.container-cart {
    width: 60%;
    max-width: 1300px;
    margin-left: 20%;
}



#tariff{
  font-size: 18px;
  padding: 43px 0 12px;
}
.sectiont_title{
  padding-bottom: 44px;
}
.tariff_items {
  text-align: center;
    padding: 0;
}
.tariff_col{
  padding: 0;
}
.tariff_ic-check {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  border: 3px solid #2a99e2;
  border-radius: 100%;
  padding: 3px;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 6px 0 0;
  transition: all ease .3s;
}
.tariff_ic-check *{
  visibility: hidden;
  opacity: 0;
  transition: all ease .3s;
}
.tariff_item .tariff_ic-check *{
  visibility: hidden;
  opacity: 0;
  transition: all ease .3s;
}
.tariff_item.active .tariff_ic-check *{
  visibility: visible;
  opacity: 1;
}
.tariff_ic-yes{
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.tariff_ic-no{
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.tariff_cell{
  border-top: 2px #CFD1D2 solid;
  border-left: 2px #CFD1D2 solid;
  padding: 6px 4px 4px;
  position: relative;
}
.tariff_description{
  font-size: 14px;
  text-align: left;
}
.tariff_cell:first-child{
  border-top: 0;
}
.tariff_description .tariff_cell{
  border-left: 0;
}
.tariff_item.active .tariff_cell{
  background: #EEF6E7;
}
.tariff_item .tariff_cell-head{
  color: #2a99e2;
}
.tariff_item.active .tariff_cell-head{
  background: #2a99e2;
  color: #fff;
}
.tariff_period-price_options_list-list{
  position: absolute;
  top: 100%;
  left: 10px;
  right: 10px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transform: translate(0,10px);
  transition: all ease .3s;
}
.tariff_period-price_options_list-list.active{
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}
.tariff_period-price_options_list-list li {
  border-top: 1px #E7E8E8 solid;
  cursor: pointer;
  padding: 10px;
}
.tariff_period-price_options_list-list li:first-child {
  border-top: 0;
}
.tariff_period-price_options_list-text{
  cursor: pointer;
}
.tariff_period-price_options_list-text span{
  color: #2a99e2;
}
.tariff_item-check{
  cursor: pointer;
}
.tariff_total-price-text_wrap{
  color: #2a99e2;

}
.tariff_total-price{
  font-size: 22px;
  padding: 11px 0 20px;
}
#tariff_data{
  clear: both;
  padding: 40px 0;
}


.old-cap{

    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
font-size: 0;
background: linear-gradient(to top, #000d33, #2ba0ec);


}

.block-old-one {
	margin-top: 100px;
	margin-bottom: 60px;
   display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
  

}



.table-tarif-one {
font-size: 18px;
border-collapse: collapse;
text-align: center;
width: 100%;
}
#table-tarif-one.th, td:first-child {
background: #fff;
font-size: 17px;
color: #000;
padding: 10px 20px;
width:50%;
}
.th, td {
border-style: solid;
border: 1px #e1e8e8 solid;
background: #fff;
color: #000;
}

.th:first-child, td:first-child {
text-align: left;
}
.th-cap-tarif{
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
	 border-bottom-width: 0px;
}

.d24 {
background: #CD6D45;
height: 100px; 
width: 20px;
position: relative; 
left: 40px;
}
.d24:after {
content: "";
height: 20px; 
width: 100px;
background: #CD6D45;
position: absolute; 
left: -40px; 
top: 40px;
}


.delivery-info {
 border-bottom: 2px solid #dcdcdc;
    
}
.delivery-info-two
{
   border-bottom-width: 1px solid #dcdcdc;
    margin-left: 50px;
	 margin-right: 50px;
}

.delivery-info-two{
  padding: 25px 0 30px;
}
@media (min-width: 768px) {
  .delivery-info-two{
    padding: 54px 0 46px;
  }
}

@media (min-width: 640px) {
  .delivery-info-two-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.delivery-info-two-title{
  font-size: 26px;
  color: #2a99e2;
  font-family: calluna, serif;
  flex: 1 1 auto;
}
.delivery-info-two-logotype{
  margin-right: 37px;
  display: block;
  width: 100px;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .delivery-info-two-logotype{
    min-height: 65px;
    flex: 0 1 140px;
    width: 140px;
    display: flex;
    margin-bottom: 0;
  }
}
.delivery-info-two-img{
  flex: 0 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.delivery-info-two-text{
  font-size: 18px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .delivery-info-two-text{
    font-size: 22px;
    margin-top: 23px;
  }
}
.delivery-info-two-text mark{
  color: #2a99e2;
  background: transparent;
}
.delivery-info-two-text p + p{
  margin-top: 11px;
}


.container-onas
{
	 max-width:1300px;
	  margin-left: auto;
    margin-right: auto;
}
.onas-p {
	 margin-bottom: 120px;
}
.onas-p p {
	color: #000;
    font-size: 22px;
	 margin-left: 50px;
	  margin-bottom: 50px;
    
}

.slide-onas-block{
    display:  flex;
    
    align-items: center;
    margin-top: 30px;
	width: 450px;
	 margin-left: 110px;
	
}
.slide-onas-block img{
  width: 70px !important;
	
}

.one-apps-content-text_wrap{
  font-size: 18px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 18px;
  margin: 0 0 27px;
}
.one-apps-content-text_wrap p{
  margin: 0 0 15px;
  font-size: 20px;
  color: #000;
  margin-top: 60px;
}
.one-apps-content-price{
  font-size: 30px;
  color: #f09a27;
}
.one-apps-content-post{
  font-size: 16px;
  font-family: calluna, serif;
  color: #ff0033;
}
.one-apps-content-comment{
  margin: 0 0 17px;
}
.one-apps-content{
  padding: 34px 0 70px;
}
.one-apps-content-img img{
 display: block;
 max-width: 100%;
 margin: 22px auto 0;
}

a.button11 {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 768;
  text-decoration: none;
  padding: .25em .5em;
}
a.button11:after {
  content: "Стандарт"; 
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(150% + 8*(1em*90/135) - 2px*2*2);  
  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#d4536d, #c61e40) no-repeat 100% 0;
  background-size: calc(8*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-8*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button11:hover:after {
  box-shadow: inset calc(-8*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}



a.button12 {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 768;
  text-decoration: none;
  padding: .25em .5em;
}
a.button12:after {
  content: "Премиум"; 
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(150% + 8*(1em*90/135) - 2px*2*2);  
  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#d4536d, #c61e40) no-repeat 100% 0;
  background-size: calc(8*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-8*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button12:hover:after {
  box-shadow: inset calc(-8*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button12:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}


.where_to_buy-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.where_to_buy-item_img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.where_to_buy-item_link{
  display: block;
  padding: 15px;
}

@media (max-width: 560px) {
  .where_to_buy-items{
    justify-content: center;
  }
}
.where_to_buy-item{
  flex: 0 1 20%;
  max-width: 20%;
  margin: 20px 0;
}
@media (max-width: 767px) {
  .where_to_buy-item{
    flex: 0 1 50%;
    max-width: 50%;
  }
}
@media (max-width: 560px) {
  .where_to_buy-item{
    flex: 0 1 100%;
    max-width: 100%;
    max-width: 280px;
  }
}
.where_to_buy-item_link{
  display: block;
  padding: 15px;
}
.where_to_buy-item_img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}



.registr-one{
 float:left; width:33%;min-width:340px; height:auto; background:#fff; margin-top: 100px;
}
.registr-two{
float:left; width:34%;min-width:340px; height:auto; background:#fff; margin-top: 100px;
}
.registr-three{
float:left; width:33%;min-width:340px; height:auto; background:#fff; margin-top: 100px;
}
.reg-pol{
float:left; width:300px; color: #115b8c;
}
.reg-m{
float:left; width:70px;
}
.reg-w{
float:left; width:70px; text-align: right;
}

.form-group{
 margin-bottom: 15px;
}
label{
 margin-bottom: 15px;
 
}
input,
input::-webkit-input-placeholder {
 font-size: 20px;
 padding-top: 3px;
 color:#333;
 
}
.form-control-registr {
	width: 100%;
	height: 60px!important;
	padding: 8px 12px !important;
	font-size: 20px!important;
    color: #333;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #cccccc;
	
}
.form-control-tarif {
	
	width: 88px;
	height: 100%!important;
	padding: 8px 0px !important;
	font-size: 20px!important;
    color: #333;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 0px solid #cccccc;
	text-align: right;	
}
.select-sort-mobile {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}
.select-sort-mobile::-ms-expand {
	/* IE */
	display: none;
}
.sort-form-mobile-wrap::after {
	text-align: right;
	z-index: -1;
	content: "";
	position: absolute;
	background: url(../images/arrow-down.png);
	background-repeat: no-repeat;
	top: 0%;
	background-position-y: 52%;
	background-position-x: 50%;
}




.input-group {
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
border-radius: 12px;
}
#button-reg {
 border: 1px solid #ccc;
 margin-top: 28px;
 padding: 6px 12px;
 color: #666;
 text-shadow: 0 1px #fff;
 cursor: pointer;
 border-radius: 3px 3px;
 box-shadow: 0 1px #fff inset, 0 1px #ddd;


}
.main-form{
 margin-top: 30px;
 margin: 0 auto;
 max-width: 600px;
 padding: 10px 40px;
min-width: 320px;
color: #115b8c;
text-shadow: none;
 font-size: 24px;
}
span.input-group-addon i {
 color: #888;
 font-size: 32px;
 width: 32px;
 height: 32px;
}
.login-button{
 margin-top: 5px; background: #ff7500; border-color: #de6334;
}
.login-button:hover{
  background: #ff5200; border-color: #de6334;
}


.title-h2 {
    margin-bottom: 20px;
    margin-top: 10px;
	color: #0e652a;
	text-align: center;
	font-size: 22px;
}

#status {
    display: none;
       }


.footer-new {
  padding-top: 0px;
  padding-bottom: 30px;
  font-size: 22px;
  color: #2f2f2f;
  border-top: 2px solid #d0d0d0;
}
.footer-new {
  font-family:'PTSans-Regular', sans-serif;
}
@media(max-width:767px){
  .footer-new>.container{
    padding: 0 25px;
  }
}
.footer-one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: space-between;
}
@media(max-width:991px){
  .footer-one-container{
    flex-wrap: wrap;
  }
}
@media(max-width:767px){
  .footer-one-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  }
}
.footer-one-ze-data,
.footer-one-new-menu,
.footer-inner__column-socials {
  padding-top: 15px;
}
@media(max-width:991px){
  .footer-one-ze-data,
  .footer-one-new-menu,
  .footer-inner__column-socials{
    padding-top: 0;
  }
}
.footer-one-ze-data {
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  /* width: 41%; */
  width: 30%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
@media(max-width:991px){
  .footer-one-ze-data {
    order: 1;
    /* width: 60%; */
    width: 40%;
  }
}
@media(max-width:767px){
  .footer-one-ze-data {
    order: 2;
    margin-left: -25px;
    margin-right: -25px;
    padding: 25px 25px 10px;
    width: calc(100% + 50px);
    width: 100%;
    border-top: 1px solid #ccc;
  }
}
.footer-one-ze-data p {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.2;
}
.footer-one-com {
  margin-top: 20px;
  color: #000;
  font-size: 12px;
}
.footer-one-new-menu-go {
  padding-right: 50px;
}
.footer-one-new-menu-go:last-child {
  padding-right: 0;
}
@media(max-width:1199px){
  .footer-one-new-menu-go {
    padding-right: 25px;
  }
}
/* @media(max-width:991px){
  .footer-one-new-menu-go{
    width: 50%;
  }
} */
@media(max-width:767px){
  .footer-one-new-menu-go{
    width: 100%;
  }
}
.footer-one-new-menu {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  border-left: 2px solid #d0d0d0;
  padding-left: 30px;
  /* width: 44%; */
  width: 60%;
  justify-content: flex-end;
}
@media(max-width:991px){
  .footer-one-new-menu{
    order: 0;
    align-self: stretch;
    width: 100%;
    padding: 0 0 40px;
    margin: 0 0 35px;
    border-left: 0;
    border-bottom: 2px solid #d0d0d0;
    justify-content: space-between;
  }
}
@media(max-width:767px){
  .footer-one-new-menu {
    flex-direction: column;
    margin: 0 0;
    padding: 0 0 30px;
    width: 100%;
    border: 0;
  }
}
.footer-one-new-menu li {
  margin-bottom: 17px;
}
.footer-one-new-menu li:last-child {
  margin-bottom: 0;
}
@media(max-width:767px){
  .footer-one-new-menu li:last-child {
    margin-bottom: 17px;
  }
}
.footer-one-new-menu li a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  border-bottom: 1px solid;
  transition: border-bottom-color ease .3s;
}
.footer-one-new-menu li a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

.footer-one-social-link {
  /* clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  flex-wrap: wrap; */

  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 15px;
}
.footer-one-social-links{
  display: block;
  /* margin: 0 0 10px 10px; */
  margin: 0 10px 0 0;
  width: 28px;
  height: 28px;
  border-radius: 7px;
  background: #606166;
  position: relative;
}
.footer-one-social-links:hover{
  background: #2a99e2;
}
@media(max-width:1199px){
  .footer-one-social-links{
    /* margin: 0 0 10px 5px; */
    margin: 0 5px 0 0;
  }
}
@media(max-width:991px){
  .footer-one-social-links{
    /* margin: 0 0 10px 10px; */
    margin: 0 10px 0 0;
  }
}
.footer-inner__soc-link__ic{
  display: block;
  background-image: url("../img/sprite_social.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 28px;
  height: 28px;
}
.footer-inner-instagram .footer-inner__soc-link__ic{
  background-position: 0 0;
}
.footer-inner-vk .footer-inner__soc-link__ic{
  background-position: 0 -28px;
}
.footer-inner-fb .footer-inner__soc-link__ic{
  background-position: 0 -56px;
}
.footer-inner-yt .footer-inner__soc-link__ic{
  background-position: 0 -84px;
}
.footer-inner__column-socials {
  margin-bottom: 20px;
  margin-bottom: 0;
  width: 15%;
}
@media(max-width:991px){
  .footer-inner__column-socials {
    order: 2;
    width: 40%;
  }
}
@media(max-width:767px){
  .footer-inner__column-socials {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 0 30px;
  }
}
.footer-inner__column-socials_img_link{
  margin: 0 auto 32px;
  float: right;
  display: block;
}
@media(max-width:767px){
  .footer-inner__column-socials_img_link{
    margin: 0;
    float: none;
    display: block;
  }
}
.footer-inner__column-socials_img{
  display: block;
}
.footer-inner__city{
  font-size: 18px;
  margin: 0 0 17px;
}
.footer-inner__city-change{
  color: #2f2f2f;
  font-size: 14px;
  text-decoration: none;
  transition: color ease .3s;
}
.footer-inner__city-change:hover,
.footer-inner__city-change:focus,
.footer-inner__city-change:active{
  color: #2a99e2;
}





@media (min-width: 1800px) and (max-width: 3800px) {
	.basket {
	
  right: 12em;
}
.container-contakt-one
{
	width: 30%;
    margin-left: 35%;
	display: inline-block;
	max-width: 552px;
}	

.container-old-one
{
	width: 80%;
    max-width: 1900px;
    margin-left: 10%;
	height: 380px;
}
.container-aim
{
	 width: 50%;
	 max-width:820px;
	 margin-left:30%;
}
.container-aim .col-md-6 {
    width: 65%;
}

.container-aim .col-md-7 {
    width: 35%;
}
.container-aim .col-md-8 {
    width: 35%;
}

.container-aim .col-md-9 {
    width: 65%;
}

.container.max-service{
 width: 1300px;	
}


#promotion-pred .container-full
{
	 margin-bottom: 0px;
	 height:303px;	 
}
#slider .content_slide{
	 height: 480px;
	
}

.navbar-collapse{
padding-right:0px!important;
}

 .homepage_sections{
    padding: 0px 0 80px;
  }
  
}



@media (min-width: 1300px) and (max-width: 1400px) {



#promotion-pred .container-full
{
	 margin-bottom: 0px;
	 height:303px;	 
}		
	
	.hanging-phone {
 width:385px;
  bottom: -15px;
}

.container.max-service{
 width: 90%;	
}

.container-onas
{
	 max-width:1200px;
	
}

.navbar-collapse{
padding-right:140px!important;
}


}






@media (min-width: 1300px) and (max-width: 1799px) {
	
	.navbar-fixed-top, .navbar-fixed-bottom {

    right: 9em; 
   
}
		.basket {
	
  right: 9em;
}
		
	
	.index{
   
   height: 580px;
   
			}
	
	.container {
    width: 1440px;
}

.container-contakt-one
{
	width: 40%;
    margin-left: 33%;
	display: inline-block;
	max-width: 552px;
}	

.container-old-one
{
	width: 80%;
    max-width: 1768px;
    margin-left: 10%;
}
.container-aim
{
	 width: 60%;
	 max-width:820px;
	 margin-left:25%;
}
.container-aim .col-md-6 {
    width: 65%;
}

.container-aim .col-md-7 {
    width: 35%;
}
.container-aim .col-md-8 {
    width: 35%;
}

.container-aim .col-md-9 {
    width: 65%;
}


#promotion-old .promotion_content p{
	margin-top: 30px;
}

#promotion-old .container-full{	
	min-height: 520px;	
}



.container-onas
{
	 max-width:1200px;
	
}
.politika-one-v{
	 margin-left:160px; 
}


.kosak {
    width: 90%;
}



	
}







@media (min-width: 1100px) and (max-width: 1299px) {
	.index{
   
   height: 480px;
   
			}
	
	#promotion-pred .container-full{
	
	 height:303px;	
	 
		}
	
	
	.hanging-phone {
 width:285px;
  bottom: -15px;
}
.container.max-service{
 width: 90%;	
}
	.container-contakt-one
{
		width: 40%;
    margin-left: 30%;
	display: inline-block;
	max-width: 552px;
}	
	
	.container-old-one
{
	width: 80%;
    max-width: 1100px;
    margin-left: 10%;
}


#promotion-old .promotion_content p{
	margin-top: 50px;
}

#promotion-old .container-full{	
	min-height: 540px;	
}
#promotion-old .col-md-9{
		width: 50%;
	   
}


.slide-onas-block{
  
	width: 430px;
	 margin-right: 20px;
	 margin-left: 30px;
	
}

.container-onas
{
	 max-width:1000px;
	
}	
.where_to_buy-items{
 width: 900px;
}
.politika-one-v{
	 margin-left:120px; 
}

#header .navbar-toggle, #header .nav {
        float: none !important;
		width: 870px;
}	
.navbar-header{
	display: none;
}	

}




@media (min-width: 900px) and (max-width: 1099px) {
	.index
	{
		background-image: url("../img/slide_bg_one.jpg");
		height: 420px;
   	}
		
.where_to_buy-items{
	 width: 800px;
 
}
.container-contakt-one
{
	width: 70%;
    margin-left: 15%;
}	

.container-old-one
{
	width: 90%;
    max-width: 1020px;
    margin-left: 5%;
}	
.container-old-one .col-md-8 {
	 display: none;
}	


	.container-aim
{
	 width: 90%;
	 margin-left:5%;
	 max-width: 1090px;
}


.container-aim .col-md-6 {
    width: 90%;
	 margin-left:5%;
}

.container-aim .col-md-7 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}
.container-aim .col-md-8 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}

.container-aim .col-md-9 {
    width: 90%;
	 margin-left:5%;
}	
	
	
	
#promotion-pred .container-full
{
	 margin-bottom: 0px;
	 height:215px;	 
}	
	
#promotion-pred .promotion_content,
.ifarem{
	min-height: 90px;
}
	
#header .navbar-toggle, #header .nav {
        float: none !important;
		width: 820px;
}	
#header .navbar-nav a, #header .navbar-nav .active a {
    padding: 0px 10px;
   margin-right: 5px; 
}
.capnew{
	   margin-left: 80px!important;
}
.navbar-header{
	display: none;
}	

	.hanging-phone {
display: none;
}

.container.max-service{
 width: 90%;	
}

.btn-resh {
	margin-left:0%;
	position: relative;
}	



.img-resh-one
{
	display: none !important;
}


#promotion-old .promotion_content p{
	margin-top: 5px;
}

#promotion-old .container-full{	
	min-height: 470px;	
}
#promotion-old .col-md-9{
		width: 90%;
	   	display: inline-block;
		margin-left: 5%;
}


.how_connected-item:before{
  display: none;
  }

.slide-onas-block{
  
	width: 330px;
	 margin-right: 10px;
	 margin-left: 20px;
	
}

.onas-p p {
	margin-left: 45px;
	font-size: 19px;
}
.slide-onas-block img{
  width: 45px !important;
	
}


.container-onas
{
	 max-width:850px;
	
}
.inner, .innerW{
	width: 900px;
	margin:0 auto;
}
.container-cart {
    width: 70%;
    max-width: 1000px;
    margin-left: 20%;
	
}
.form-cart-one{
		float:center!important;
		text-align: center;
}
.btn.btn-cart-za{
	width: 100%;
	max-width: 350px;
}
.btn.btn-cart-za:hover{
			width: 100%;
	max-width: 350px;

}
.politika-one-v{
	 margin-left:110px; 
}


	
}







@media (min-width: 768px) and (max-width: 899px) {
	.index{
   height: 290px;
		}
		
	#slider .content_slide{
	margin-top: 2%;
			}


#slider .content_slide p{
	width: 50%;
	font-size: 20px;
	margin-left: 45%;
    padding-bottom: 10px;
	padding-top: 10px;
	}
	
#slider .content_slide b{	
	font-size: 14px;
	}
	
.img-sos {
    max-width: 70px !important;
	}
	
	#header .navbar-toggle, #header .nav {
        
		width: 450px;
}	
.navbar-header{
	display: none! important;
}
	
	.container-contakt-one
{
	width: 90%;
    margin-left: 5%;
}	
	
	.container-old-one
{
	width: 90%;
    margin-left: 5%;
}	
.container-old-one .col-md-8 {
	 display: none;
}
	
	
.container-aim
{
	 width: 90%;
	 margin-left:5%;
	
}


.container-aim .col-md-6 {
    width: 90%;
	 margin-left:5%;
}

.container-aim .col-md-7 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}
.container-aim .col-md-8 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}

.container-aim .col-md-9 {
    width: 90%;
	 margin-left:5%;
}		
	.hanging-phone {
display: none;
}


.container.max-service{
 width: 90%;	
}	
	
.btn-resh {
	margin-left:0%;
	position: relative;
}	
	
.img-resh-one
{
	display: none !important;
}	
	

#promotion-old .promotion_content p{
	margin-top: 10px;
}

#promotion-old .container-full{	
	min-height: 500px;	
}
#promotion-old .col-md-9{
		width: 90%;
	   	display: inline-block;
		margin-left: 5%;
}

.how_connected-item:before{
  display: none;
  }
  .slide-onas-block{
  
	width: 420px;
	 margin-right: 100px;
	 margin-left: 150px;
	
}
.container-onas
{
	 max-width:680px;
	
}
.where_to_buy-items{
	 width: 768px;
 
}
.inner, .innerW{
	width: 768px;
	margin:0 auto;
}

.container-cart {
   
   max-width: 850px;
    margin-left: 20%;
	
}
.form-cart-one{
		float:center!important;
		text-align: center;
}
.btn.btn-cart-za{
	width: 100%;
	max-width: 350px;
}
.btn.btn-cart-za:hover{
			width: 100%;
	max-width: 350px;

}

.politika-one-v{
	 margin-left:90px; 
}



	
}







@media (min-width: 448px) and (max-width: 767px) {
	.index{
	background-image: url("../img/slide_bg_two.jpg");
   height: 290px;
		}
		
	#slider .content_slide{
	margin-top: 2%;
			}


#slider .content_slide p{
	width: 60%;
	font-size: 20px;
	margin-left: 40%;
    padding-bottom: 10px;
	padding-top: 10px;
	 margin-top: 80px;
	}
	
#slider .content_slide b{	
	font-size: 14px;
	}
	
.img-sos {
    max-width: 70px !important;
	}
	
.container-contakt-one
{
	width: 90%;
    margin-left: 5%;
}	
	
	.container-old-one
{
	width: 90%;
    margin-left: 5%;
}	
.container-old-one .col-md-8 {
	 display: none;
}
	
	
	.container-aim
{
	 width: 90%;
	 margin-left:5%;
	
}


.container-aim .col-md-6 {
    width: 90%;
	 margin-left:5%;
}

.container-aim .col-md-7 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}
.container-aim .col-md-8 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}

.container-aim .col-md-9 {
    width: 90%;
	 margin-left:5%;
}	
	.hanging-phone {
display: none;
}

.container.max-service{
 width: 90%;	
}
	
	
.btn-resh {
	margin-left:0%;
	position: relative;
}	


.img-resh-one
{
	display: none !important;
}




#promotion-old .promotion_content p{
	margin-top: 50px;
}

#promotion-old .container-full{	
	min-height: 600px;	
}
#promotion-old .col-md-9{
		width: 85%;
	   	display: inline-block;
		margin-left: 5%;
}
	
.how_connected-item:before{
  display: none;
  }	
	
	  .slide-onas-block{
  
	width: 400px;
	 margin-right: 90px;
	 margin-left: 100px;
	
}
	
.container-onas
{
	 max-width:438px;
	
}	
	.where_to_buy-items{
	 width: 470px;
 
}
.inner, .innerW{
	 width: 470px;
	
}
	.container-cart {
   
    max-width: 350px;
    margin-left: 22%;
	
}
.form-cart-one{
		float:center!important;
		text-align: center;
}
.btn.btn-cart-za{
	width: 100%;
	max-width: 350px;
}
.btn.btn-cart-za:hover{
			width: 100%;
	max-width: 350px;

	
}

.politika-one-v{
	 margin-left:0px; 
}

}









@media (min-width: 320px) and (max-width: 480px) {
	.section-title{
		font-size: 34px;
		max-width: 310px;
	}
	.section-subtitle{
		font-size: 16px;
		max-width: 310px;
	}
		.box-two {
			
  margin-left:13%;
	
}
	.index{
    width: auto;
    
   
	min-height: 420px;
	background: #fff;
    background-image: url("../img/slide_bg_three.jpg");
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	
}
	
	
	#slider .slide-element img{
		margin-top: 60px;
		margin-left: 0px;
		width: 100px;
		height:147px;
	}
		#slider .content_slide{
		margin-top: 260px;
		max-width: 90%;
	
		left: 0px;
	}
	
	
	#slider .content_slide p {
    width: 90%;
	 height:130px;
    text-align: center;
    background-color: #ffffffb8;
    color:#2980b9;
	font-size: 20px;
    margin-top: 90px;
    margin-left: 10%;
    padding-bottom: 50px;
    padding-top: 20px;
}
#slider .content_slide b{
padding-top: 60px;	
	font-size: 16px;
	}
	.img-sos {
    max-width: 50px !important;
	display: inline-table;
	z-index: 9999;
	}
	#slider .carousel-control{
		display: none;
	}
	#about .imac{
		margin-left: 1px;
	}
	#about .web_content{
		text-align: center;
		max-width: 300px;
	}
	#about .web_content h1{
		font-size: 20px;
	}
	#about .web_content h4{
		font-size: 14px;
	}
	#about .web_content p{
		font-size: 12px;
		line-height: 22px;
	}
	#about .web_content a{
		font-size: 16px;
		padding: 5px 10px;
	}
	#promotion .promotion_content, .ifarem{
		max-width: 300px;
		text-align: center;
		padding-bottom: 20px;
	}
	#promotion .promotion_content h1{
		font-size: 16px;
	}
	#promotion .promotion_content h4{
		font-size: 12px;
	}
	#promotion .promotion_content p{
		font-size: 15px;
		line-height: 22px;
	}
	#promotion .embed-responsive-item{
		width: 250px;
		height: 200px;
		margin-left: 10px;
	}
	#promotion .promotion_content a{
		font-size: 16px;
		padding: 8px 30px;
	}
	#promotion .promotion_content,.ifarem{
		min-height: 50px;
	}
	#pricing h4{
		font-size: 26px;
	}
	#pricing h5{
		font-size: 20px;
	}
	#pricing a{
		padding: 8px 32px;
		font-size: 18px;
	}
	#pricing ul p{
		font-size: 16px;
	}
	#testimonial h1{
		font-size: 110px;
	}
	#testimonial h2{
		font-size: 20px;
	}
	#contact .carousel-control{
		display: none;
	}
		#header .navbar-toggle, #header .nav {
	background: #2980B9;
		margin-top: 10px; 
}
	#header .navbar-nav a{
		margin-top: 60px;
		width: 260px;
		height: 32px;
		z-index: 9999;
		border-radius: 0px;
		min-width: 50px;
		text-align: center;
		background: #fff;
		border-bottom: 1px solid #cfcfcf;
		border: 1px solid #cfcfcf;
	
	}
	#header .navbar-nav a:first-child{
		border-top: 2px solid #ffffff;
		margin: 0;
	} 
	#header .navbar-nav li.active a{
		border-radius:0px;
	}
	#testimonial .clint{
		margin-left: 50px;
	}
	#testimonial .info{
		display: none;
	}
	#clients li a{
		margin: 0px -22px;
	}
	#portfolio .work-mig figure{
		width: 270px;
		margin-top: -60px;
	}
	#portfolio .work-mig figcaption{
		height: 74%;
	}
	#portfolio .border h4{
		padding-bottom: 0px;
		margin-top: 0px;
	}
	#portfolio .border{
		height: 176px;
		width: 230px;
	}
	#pricing .text p{
		font-size: 16px;
	}
	#pricing .pri_table{
		margin-top: 30px;
	}
	#contact .content p{
		font-size: 14px;
		line-height: 20px;
	}
	#why .modern, .phone{
		text-align: center;
		padding-bottom: 26px;
	}
	#why .modern p{
		font-size: 14px;
		width: 290px;
	}
	#why .list_item ul li i{
		font-size: 22px;
	}
	#why .list_item ul li a{
		font-size: 16px;
	}
	#why .modern h1{
		font-size: 18px;
	}
	#why .btn{
		font-size: 16px;
		padding: 10px 18px;
	}
	
	.ifarem{
		padding-top: 45px;
	}
	#footer-top h1{
		font-size: 20px;
	}
	#footer-top p{
		font-size: 20px;
	}
	#footer-top a{
		font-size: 16px;
		padding: 10px 26px;
	}
	#footer a{
		margin-right: 100px;
		font-size: 14px;
	}
	#footer .socile a{
		font-size: 14px;
		margin: 0px;
	}
	#footer .socile ul li a{
		margin: 0 2px;
	}
	#footer p{
		font-size: 14px;
	}
	
	
.container-contakt-one
{
	width: 90%;
    margin-left: 5%;
	padding-bottom: 10px;
}	

	
.container-old-one
{
	width: 90%;
    margin-left: 5%;
}	
.container-old-one .col-md-8 {
	 display: none;
}
	
	
	.container-aim
{
	 width: 90%;
	 margin-left:5%;
	
}


.container-aim .col-md-6 {
    width: 90%;
	 margin-left:5%;
}

.container-aim .col-md-7 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}
.container-aim .col-md-8 {
    width: 90%;
	 margin-left:5%;
	 display: none;
}

.container-aim .col-md-9 {
    width: 90%;
	 margin-left:5%;
}
	
	
	#promotion-pred .container-full
{
	 margin-bottom: 0px;
	  height:auto;
	 
}	
	
#promotion-pred .promotion_content,
.ifarem{
	min-height: 210px;
}
	#promotion-pred .container-full.two
{
	 margin-bottom: 0px;
	 height:235px;	 
}	
	.hanging-phone {
display: none;
}


.container.max-service{
 width: 95%;	
}



.btn-resh {
	margin-left:5%;
	position: relative;
}




.img-resh-one
{
	display: none !important;
}


.container-getApp{
	margin-top: 0px;
}
section#getApp .platforms {
  margin-top: 0px;
    margin-bottom: 0px;
}

.btn-primary-getApp{
		 margin-bottom: 10px;
	}
	
	
	.container>.navbar-header, .container>.navbar-collapse {
    margin-right: 10;
    margin-left: -5px;
}
	
	.container{
		 padding-left: 0px;
	}
	
	.navbar-toggle {
    position: relative;
	}
	
	.how_it_work-item_img{
		text-align:center;
			min-width:100px;
			float:center;		
	}

			
	.how_it_work-item p {
  min-width:250px;
}
	
	
	
	
	.box-old {
    max-width: 300px;
	width: 90%;
	min-width: 280px;
	position:relative;
	color: #fff0;
    background: #fff;
	border-radius: 18px;
    margin: 5px 5px 5px 15px;
    float:center !important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0px 5px 10px 8px #9e9c9c;
-moz-box-shadow: 0px 5px 10px 8px #9e9c9c;
box-shadow: 0px 5px 10px 8px #9e9c9c;	
}
	
	
	

#promotion-old .promotion_content p{
	margin-top: 120px;
	text-align:center;
}

#promotion-old .container-full{	
	
	min-height: 870px;
	
	
}
#promotion-old .col-md-9{
		width: 85%;
	   min-width: 270px;
	   	display: inline-block;
		margin-left: 5px;
}
	
	.how_connected-item:before{
  display: none;
  }
	
.table-tarif-one {
font-size: 16px;

}
	#table-tarif-one.th, td:first-child {
background: #fff;
color: #000;
padding: 10px 0px;

}

	  .slide-onas-block{
  
	width: 270px;
	 margin-right: 0px;
	 margin-left: 20px;
	
}
.onas-p {
	 margin-bottom: 180px;
	 
}
.onas-p p {
	margin-left: 15px;
	font-size: 19px;
}
.slide-onas-block img{
  width: 40px !important;
	
}

.container-onas
{
	 max-width:310px;
	
}

	.where_to_buy-items{
	 width: 310px;
 
}
.inner, .innerW{
	 width: 310px;
	
}


	.container-cart {
   
    width: 90%;
    margin-left: 5%;
	
}
.form-cart-one{
		float:center!important;
		text-align: center;
}
.btn.btn-cart-za{
	width: 100%;
	max-width: 440px;
}
.btn.btn-cart-za:hover{
			width: 100%;
	max-width: 440px;

	
}

.foto-kart {
    max-width: 280px!important;
    width: 60%!important;
	min-width: 250px!important;
    margin-left: 25%;
}

.btn-tarif{
width: auto;
margin-left: -120px;
}


.registr-one{
width: 100%; min-width:270px;  margin-top: 90px;
}
.registr-two{
width: 100%;   min-width:270px; margin-top: 25px;
}
.registr-three{
width: 100%; min-width:270px;  margin-top: 25px;
}
.main-form {   
padding: 10px 20px;
width: 90%;
min-width: 270px;
 padding: 5px 5px;
 margin-left: 5px;
 margin-right: 5px;
 margin: 5px;
}


.tarif
{
padding-right: 0px; 
     padding-left: 0px; 
     margin-right: 0; 
    margin-left: 0;	
}
	
	
.politika-one-v{
	 margin-left:0px; 
}
	
	
	
	#header .navbar-toggle, #header .nav {
    left: auto;
    right: 1em;
    position: fixed;
}
	
	
.info-old button{
	margin-top: 0px;
}	
	
	.boxtitle-old h1 {
	margin-left: 10px;
}

.form-control-tarif {
	width: 84px;
	font-size: 17px!important;
}


.karta{
width: 70%;
margin-left: 15%;
}

	

	
	
	
}





@media only screen  (min-width: 768px) and (max-width: 1024px)  {
	.carousel-caption {
		font-size: 16px;
	}
	#contact .carousel-control{
		display: none;
	}
	#slider .slide-element{
		font-size: 18px;
	}
	.content_slide{
		display: none;
	}
	
	#slider .slide-element img{
		margin-left: 8px;
	}
	.carousel-caption h4 {
		font-size: 22px;
	}
	#slider .content_slide h2{
		font-size: 12px;
	}
	#slider{
		display: none;
	}
	#header .navbar-nav li a{
		margin-right: 10px;
	}
	#about .designer{
		margin-left: 200px;
	}
	#portfolio .work-mig{
		margin-left: -24px;
		margin-right: 14px;
	}
	#footer .socile ul{
		font-size: 16px;
	}
	#pricing .text p{
		font-size: 18px;
		line-height: 22px;
	}
	
		#header .navbar-toggle, #header .nav {
	background: #2980B9;
		margin-top: 10px; 
}
	#header .navbar-nav a{
		margin-top: 60px;
		width: 260px;
		height: 32px;
		z-index: 9999;
		border-radius: 0px;
		min-width: 50px;
		text-align: center;
		background: #fff;
		border-bottom: 1px solid #cfcfcf;
		border: 1px solid #cfcfcf;
	
	}
	#header .navbar-nav a:first-child{
		border-top: 2px solid #ffffff;
		margin: 0;
	} 
	#header .navbar-nav li.active a{
		border-radius:0px;
	}
	
	
}



@media (max-width: 548px) {
	
	#header .navbar-toggle, #header .nav {
	background: #2980B9;
		margin-top: 10px; 
}
	#header .navbar-nav a{
		margin-top: 60px;
		width: 260px;
		height: 32px;
		z-index: 9999;
		border-radius: 0px;
		min-width: 50px;
		text-align: center;
		background: #fff;
		border-bottom: 1px solid #cfcfcf;
		border: 1px solid #cfcfcf;
	
	}
	#header .navbar-nav a:first-child{
		border-top: 2px solid #ffffff;
		margin: 0;
	} 
	#header .navbar-nav li.active a{
		border-radius:0px;
	}
	
	

	

}


@media only screen and (min-width: 668px) and (max-width: 767px) {
	#slider .slide-element img{
		margin: -10px -32px 33px 55px;
	}
	#slider .content_slide{
		margin-top: 95px;
	}
	#slider .content_slide h2{
		font-size: 22px;
	}
	#slider .content_slide p{
		font-size: 18px;
	}
	#slider ul{
		margin-top: 0px;
		font-size: 18px;
	}
	#slider h1{
		font-size: 20px;
	}
	#portfolio .work-mig{
		margin-left: -24px;
		margin-right: 14px;
	}
	#why .phone{
		margin-left: -68px;
	}
	#contact .carousel-control{
		display: none;
	}
	
	#header .navbar-toggle, #header .nav {
	background: #2980B9;
		margin-top: 10px; 
  }
	#header .navbar-nav a{
		margin-top: 60px;
		width: 260px;
		height: 32px;
		z-index: 9999;
		border-radius: 0px;
		min-width: 50px;
		text-align: center;
		background: #fff;
		border-bottom: 1px solid #cfcfcf;
		border: 1px solid #cfcfcf;
	
	}
	#header .navbar-nav a:first-child{
		border-top: 2px solid #ffffff;
		margin: 0;
	} 
	#header .navbar-nav li.active a{
		border-radius:0px;
	}


}




@media only screen and (min-width: 570px) and (max-width: 667px) {

	
	#header .navbar-toggle, #header .nav {
	background: #2980B9;
		margin-top: 10px; 
  }
	#header .navbar-nav a{
		margin-top: 60px;
		width: 260px;
		height: 32px;
		z-index: 9999;
		border-radius: 0px;
		min-width: 50px;
		text-align: center;
		background: #fff;
		border-bottom: 1px solid #cfcfcf;
		border: 1px solid #cfcfcf;
	
	}
	#header .navbar-nav a:first-child{
		border-top: 2px solid #ffffff;
		margin: 0;
	} 
	#header .navbar-nav li.active a{
		border-radius:0px;
	}

}


