/* таблица  */


  table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
	margin-left: 0%;
	
  }

  table tr {
    border: 1px solid #ddd;
    padding: 5px;
	font-size: 25px;
  }

  table th, table td {
    padding: 4px;
    text-align: center;
	font-size: 17px;
		background: #fff;
  }

  table th {
	  background: #1c7dbd;
color: white;
    text-transform: uppercase;
   font-size: 19px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 1100px) {

    table {
      border: 0;
	
    }

    table thead {
      display: none;
    }

    table tr {
		border: 0px solid #ddd;
      margin-bottom: 10px;
      display: block;
      border-bottom: 0px solid #ddd;
    }

    table td {
		border: 0px solid #ddd;
		background: #fff;
      display: block;
      text-align: right;
      font-size: 15px;
      border-bottom: 0px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
	  
    }

    table td:before {
		
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
/* таблица  */